<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Acuerdo Legal Atlantis</title>
</head>
<style>
	body{
		background-image: url('fondo.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}

	#titulo{
		color: White;
		font-family: arial;
		margin-left: 100px;
	}

	.acuerdo{
		color: White;
		font-family: arial;
		margin-left: 100px;
	}

	.acuerdo span{
		color: #0ea594;
	}

	#logo{
		margin-left: 30px;
	}

</style>
<body>
	<div>
		<div id="logo"><img src="Logo.png"></img></div>
		<img src="titulo.png" id="titulo"></img>
		<p class="acuerdo">Gracias por confiar en <span>Atlantis</span>, a continuación<br>
		pasaremos a exponer el acuerdo legal que usted acepta<br>
		una vez se registra en nuestra comunidad.<p><br>
		<p class="acuerdo">Usted accede a que almacenemos tanto sus datos de cliente como los datos<br>
		que decida ingresar en la aplicación, con el fin de guardarlos con total seguridad.</p>
		<p class="acuerdo">Las contraseñas ingresadas por el usuario no serán desencriptas, transferidas o<br>
		visualizadas en ningún caso por la administración de <span>Atlantis</span>.</p>
		<p class="acuerdo">Usted acepta que <span>Atlantis</span> lo considere un cliente de nuestra comunidad.</p>
		<p class="acuerdo">Como cliente, accede a no quebrantar las reglas de <span>Atlantis</span><br>
		y a no hacer uso de programas/códigos maliciosos en la plataforma.</p>

		</p>
	</div>
</body>
</html>